html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: #666;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 50px 0;
}

.container {
  width: 413px;
  margin: 0 auto;
}

.game {
  padding-top: 10px;
}

.game div {
  height: 33px;
  width:  33px;
  float: left;
  cursor: pointer;
  border-radius: 30px;
  margin: 13px;
}

.game div:nth-child(7n + 1) {
  clear: both;
}

.empty {
  background-color: #eee;
}

.green {
  background-color: #03C9A9;
}

.blue {
  background-color: #19B5FE;
}

@keyframes fadeOut {
  to { background-color: #eee; }
}

.drop {
  animation: fadeOut .10s ease-in 1 forwards;
}

.hover:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #666;

  content: '';
  display: block;
  position: relative;
  top: -40px;
  left: 7px;
}
